* {
    margin: 0;
    padding: 0;
    font-family: Lato, Helvetica, sans-serif;
}



@media (max-width:1000px) {

    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: lightblue;
        text-decoration: none;
    }

    nav {
        margin: 0;
        padding: 0;
        border-radius: 35px;
    }

    .navbar {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .navlogo {
        margin: 0;
        padding: calc(6vw) calc(4vw) 0 calc(10vw);
        display: flex;
        flex-direction: column;
    }

    .navlogo img {
        margin: 0;
        justify-content: flex-start;
        align-items: flex-start;
        width: calc(40vw);
        height: auto;
    }

    .navitem {
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-direction: row;
    }

    .navitem li {
        row-gap: calc(5vw);
        font-size: calc(4vw);
        padding: calc(4.5vw) calc(2vw) calc(6vw) calc(2vw);
    }

    .image {
        margin-top: calc(-17rem);
        border-radius: 35px;
        background-position: center;
        background-size: cover;
        background-image: url("Header.png");
        width: auto;
        height: calc(55rem);
    }

    .image-overlay {
        margin: 0;
        padding: 0;
        display: flex;
        height: calc(55rem);
        align-items: center;
        justify-content: center;
    }

    .image-overlabg {
        background-color: rgba(20, 54, 66, 0.7);
        border: 5px solid #EC9A29;
    }

    .image-overlaytxt {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        height: fit-content;
    }

    .image-overlaytxt h1 {
        margin-top: calc(9rem);
        padding: 0;
        font-family: Lato;
        font-size: calc(10vw);
        text-align: center;

    }

    .image-overlaytxt p {
        margin-top: calc(1rem);
        padding: 0;
        font-family: Lato;
        font-size: calc(4vw);
        font-weight: 400;
        line-height: calc(6vw);
        text-align: center;
    }

    .section {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: calc(10vw);
        align-items: center;
    }

    .section1 {
        margin-top: calc(8vh);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        align-items: center;
    }

    .section1img img {
        margin: 0;
        display: flex;
        width: calc(50vw);
        height: calc(50vh);
        object-fit: cover;
        border-radius: 20px;
    }

    .section1txt h2 {
        margin-top: calc(5vh);
        font-size: calc(6vw);
        color: #0F8B8D;
        padding-bottom: 20px;
        width: fit-content;
        border-bottom: 5px solid #EC9A29;
        align-items: center;
    }

    .section1txt p {
        padding-top: 20px;
        font-size: calc(3.6vw);
        color: #143642;
        line-height: calc(5vw);
        font-weight: 400;
    }

    .section2 {
        margin-top: calc(8vh);
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: left;
        align-items: center;
    }

    .section2img img {
        margin: 0;
        width: calc(50vw);
        height: calc(50vh);
        object-fit: cover;
        border-radius: 20px;
    }

    .section2txt h2 {
        margin-top: calc(5vh);
        font-size: calc(6vw);
        color: #0F8B8D;
        padding-bottom: 20px;
        width: fit-content;
        align-items: center;
    }

    .section2txt p {
        padding-top: 20px;
        font-size: calc(3.6vw);
        color: #143642;
        line-height: calc(5vw);
        font-weight: 400;
    }

    .section3 {
        margin-top: calc(8vh);
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .section3img {
        display: flex;
        justify-content: center;
    }

    .section3img img {
        margin: 0;
        padding: 0;
        width: calc(50vw);
        height: calc(50vh);
        object-fit: cover;
        border-radius: 20px;
        justify-content: center;
    }

    .section3txt h2 {
        margin-top: calc(5vh);
        font-size: calc(6vw);
        color: #0F8B8D;
        padding-bottom: 20px;
        align-items: center;
        width: fit-content;
    }

    .section3txt p {
        padding-top: 20px;
        font-size: calc(3.6vw);
        color: #143642;
        line-height: calc(5vw);
        font-weight: 400;
    }

    .btn {
        color: white;
        opacity: 1;
        width: calc(40vw);
        height: calc(10vw);
        border-radius: 55px;
        font-size: calc(3vw);
        font-weight: 800;
        margin-top: calc(5vw);
        cursor: pointer;
        border: 0;
    }

    .cta2 {
        background-color: #A8201A;
    }

    .cta3 {
        background-color: #A8201A;
    }

    .cta5 {
        background-color: #A8201A;
    }

    .section4 {
        margin-top: calc(8vh);
        text-align: left;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .section4img {
        justify-content: space-between;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        line-height: 0;
        row-gap: calc(3vw);
        column-gap: 30px;
    }

    .section4img img {
        width: calc(20vw);
        height: calc(20vw);
        border-radius: 15px;
        color: #EC9A29;
    }

    .section4txt h2 {
        margin: 0;
        font-size: calc(6vw);
        color: #0F8B8D;
        padding-bottom: 20px;
        align-items: center;
    }

    .section4txt h2 span {
        font-size: calc(6vw);
        color: #EC9A29;
    }

    .section5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: calc(8vh);
        text-align: center;
        padding: 0;
    }

    .section5txt h2 {
        margin: 0;
        font-size: calc(6vw);
        color: #0F8B8D;
        padding-bottom: 20px;
        align-items: center;
    }

    .section5txt p {
        font-size: calc(3.6vw);
        color: #143642;
        line-height: calc(5vw);
        font-weight: 400;
        padding-bottom: calc(3vh);
    }

    .footer {
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;
    }

    .footercontent {
        padding: 0;
        margin: 0;
        border-radius: 0;
        display: flex;
        flex-direction: column;
    }

    .footlogo {
        margin: 0;
        align-items: flex-end;
        padding: calc(4vw) calc(10vw);
        flex-direction: row;
        justify-content: space-between;
    }

    .footlogo img {
        padding: 0;
        display: flex;
        flex-direction: row;
        width: calc(45vw);
        height: auto;
    }

    .footitem {
        flex-direction: column;
        margin: 0;
        padding: 0 calc(10vw);
    }

    .footitem li {
        font-size: calc(3.5vw);
        font-weight: 400;
        color: #EC9A29;
    }

    .footitem li span {
        padding: 0 calc(7vw);
        color: white;
    }

    .footlogosvg {
        flex-direction: row;
        column-gap: calc(3vw);
    }

    .footlogosvg img {
        margin : 0;
        width: calc(2.4rem);
        height: calc(2.4rem);
        filter: invert();
    }

    .footmark {
        margin: 0;
        font-size: calc(3.5vw);
        font-weight: 400;
        padding: calc(10vw) 0;
        text-align: center;   
    }

    .navbarmenu {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #0F8B8D;
    }

    .navmenulogo {
        margin: 0;
        padding: calc(6vw) calc(4vw) 0 calc(10vw);
        display: flex;
        flex-direction: column;
    }

    .navmenulogo img {
        margin: 0;
        justify-content: flex-start;
        align-items: flex-start;
        width: calc(40vw);
        height: auto;
    }

    .navmenuitem {
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-direction: row;
    }

    .navmenuitem li {
        row-gap: calc(5vw);
        font-size: calc(4vw);
        padding: calc(4.5vw) calc(2vw) calc(6vw) calc(2vw);
    }

    .sectionmenu1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .sectionmenu1judul {
        margin-top: calc(10vw);
        display: flex;
        flex-direction: column;
    }

    .sectionmenu1judul h2 {
        margin: 0;
        color: #0F8B8D;
        font-size: calc(5.6vw);
    }

    .sectionmenu1judul p {
        margin: 0;
        margin-top: calc(4vw);
        font-size: calc(3vw);
        color: #143642;
    }

    .section1content {
        margin: calc(5vw) calc(10vw) calc(10vw);
        column-gap: calc(14.5vw);
        row-gap: calc(5vw);
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .arenlate {
        display: flex;
        flex-direction: column;
        background-image: url(Coffeebackground.png);
        background-size: cover;
        width: calc(30vw);
        height: calc(30vw);
        color: white;
    }

    .arenlate img {
        margin: 0 auto;
        width: calc(25vw);
        object-fit: contain;
    }

    .arenlate h3 {
        margin-top: calc(3vw);
        font-size: calc(3vw)
    }

    .arenlate p {
        margin-top: calc(0.5vw);
        font-size: calc(2.5vw)
    }

    .cafelate {
        display: flex;
        flex-direction: column;
        background-image: url(Coffeebackground.png);
        background-size: cover;
        width: calc(30vw);
        height: calc(30vw);
        color: white;
    }

    .cafelate img {
        margin: 0 auto;
        width: calc(25vw);
        object-fit: contain;
    }

    .cafelate h3 {
        margin-top: calc(3vw);
        font-size: calc(3vw)
    }

    .cafelate p {
        margin-top: calc(0.5vw);
        font-size: calc(2.5vw)
    }

    .caramellate {
        display: flex;
        flex-direction: column;
        background-image: url(Coffeebackground.png);
        background-size: cover;
        width: calc(30vw);
        height: calc(30vw);
        color: white;
    }

    .caramellate img {
        margin: 0 auto;
        width: calc(25vw);
        object-fit: contain;
    }

    .caramellate h3 {
        margin-top: calc(3vw);
        font-size: calc(3vw)
    }

    .caramellate p {
        margin-top: calc(0.5vw);
        font-size: calc(2.5vw)
    }

    .americano {
        display: flex;
        flex-direction: column;
        background-image: url(Coffeebackground.png);
        background-size: cover;
        width: calc(30vw);
        height: calc(30vw);
        color: white;
    }

    .americano img {
        margin: 0 auto;
        width: calc(25vw);
        object-fit: contain;
    }

    .americano h3 {
        margin-top: calc(3vw);
        font-size: calc(3vw)
    }

    .americano p {
        margin-top: calc(0.5vw);
        font-size: calc(2.5vw)
    }

    .cappucino {
        display: flex;
        flex-direction: column;
        background-image: url(Coffeebackground.png);
        background-size: cover;
        width: calc(30vw);
        height: calc(30vw);
        color: white;
    }

    .cappucino img {
        margin: 0 auto;
        width: calc(25vw);
        object-fit: contain;
    }

    .cappucino h3 {
        margin-top: calc(3vw);
        font-size: calc(3vw)
    }

    .cappucino p {
        margin-top: calc(0.5vw);
        font-size: calc(2.5vw)
    }

    .butterscotch {
        display: flex;
        flex-direction: column;
        background-image: url(Coffeebackground.png);
        background-size: cover;
        width: calc(30vw);
        height: calc(30vw);
        color: white;
    }

    .butterscotch img {
        margin: 0 auto;
        width: calc(25vw);
        object-fit: contain;
    }

    .butterscotch h3 {
        margin-top: calc(3vw);
        font-size: calc(3vw)
    }

    .butterscotch p {
        margin-top: calc(0.5vw);
        font-size: calc(2.5vw)
    }

    .section1dtl {
        margin: calc(0vw) calc(10vw) calc(10vw) calc(10vw);
        padding: 0;
    }

    .section1detail {
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .section1detailimg {
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
    }

    .section1detailimg img {
        margin: auto;
        width: calc(100vw);
        object-fit: contain;
    }

    .section1detailjudul {
        margin: 0;
        padding: 0;
    }

    .section1detailjudul h2 {
        margin: 0;
        padding: 0;
        font-size: calc(6vw);
        color: #0F8B8D;
        font-weight: 800;
    }

    .section1detailjudul h3 {
        margin-top: calc(3vw);
        font-size: calc(3vw);
        color: #143642;
        font-weight: 500;
    }

    .section1detailjudul p {
        margin-top: calc(3vw);
        padding: 0;
        font-size: calc(7vw);
        font-weight: 800;
        color: #0F8B8D;
        font-weight: 800;
    }

    .section2detail {
        margin-top: calc(10vw);
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .section2detailcontent h3 {
        margin: 0;
        padding: 0 0 calc(3vw) 0;
        font-size: calc(6vw);
        color: #0F8B8D;
        border-bottom: 3px solid #EC9A29;
        font-weight: 500;
    }

    .section2detailcontent p {
        font-size: calc(3vw);
        color: #143642;
        font-weight: 400;
        line-height: 35px;
    }

    .section2detailcontentbtn {
        display: flex;
        flex-direction: row;
    }

    .btndetail {
        padding: 0 calc(5vw);
        color: white;
        opacity: 1;
        width: fit-content;
        height: calc(10vw);
        border-radius: 55px;
        font-size: calc(3vw);
        font-weight: 800;
        margin-top: calc(5vw);
        cursor: pointer;
        border: 0;
    }

    .detailcta1 {
        background-color: #A8201A;
    }

    .detailcontainer {
        display: flex;
        flex-direction: row;
    }

    .detailcta1logo img {
        margin: 0 auto;
        filter: invert();
        transform: rotate(180deg);
        margin-bottom: 0;
        margin-top: calc(0.5vw);
        width: calc(6vw);
        height: auto;
    }

    .detailcta1text p {
        color: white;
        margin-left: calc(1vw);
        margin-right: calc(2.5vw);
    }

    .section1find {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        border: 5px solid yellow;
    }

    .section1findisi {
        border: 5px solid navy;
    }

    .section1findjudul {
        border: 5px solid red;
    }

    .section1findjudul h2 {
        font-size: calc(7vw);
        font-weight: 800;
        color: #0F8B8D;
    }

    .section1findjudul p {
        font-size: calc(3.5vw);
        font-weight: 400;
        letter-spacing: 0em;
        text-align: left;
        color: #143642;
    }

    .section1findbox {
        flex-direction: column;
        border: 5px solid green;
    }

    .box1 {
        margin: 0;
        padding: 0;
        border: 1px solid #D2D2D2;
        border-radius: 20px;
        box-sizing: calc(1vw);
        row-gap: calc(20vw);
    }

    .box1:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }

    .box1 h3 {
        font-size: calc(5vw);
        color: #143642;
    }

    .box1 p {
        margin-top: calc(3vw);
        font-size: 20px;
        color: #143642;
        line-height: 24px;
    }

    .box2 {
        border: 1px solid #D2D2D2;
        border-radius: 20px;
    }

    .box2:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }

    .box2 h3 {
        font-size: 30px;
        color: #143642;
    }

    .box2 p {
        margin-top: 20px;
        font-size: 20px;
        color: #143642;
        line-height: 24px;
    }

    .box3 {
        border: 1px solid #D2D2D2;
        border-radius: 20px;
        width: 474px;
        height: 196px;
    }

    .box3:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }

    .box3 h3 {
        font-size: 30px;
        color: #143642;
    }

    .box3 p {
        margin-top: 20px;
        font-size: 20px;
        color: #143642;
        line-height: 24px;
    }

    .section1findmap {
        display: flex;
        margin: 0;
        padding: 0;
        border: 5px solid saddlebrown;
    }

    .section1help {
        display: flex;
        flex-direction: column;
    }

    .section1helpjudul h2 {
        font-family: Lato;
        font-size: 48px;
        font-weight: 800;
        line-height: 58px;
        letter-spacing: 0em;
        text-align: left;
        color: #0F8B8D;
        ;
    }

    .section1helpisi {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        border: 2px solid #D2D2D2;
        border-radius: 20px;
        padding: 50px 98px;
    }

    .help {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .helpisi {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .helpname {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .helpname p {
        font-family: Lato;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;

    }

    .helpname input {
        border-radius: 20px;
        width: 493px;
        height: 71px;
        border: 2px solid #D2D2D2;
        font-family: Lato;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
        color: #D2D2D2;
        padding: 0 46px;
    }

    .helpemail {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .helpemail p {
        font-family: Lato;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;

    }

    .helpemail input {
        border-radius: 20px;
        width: 493px;
        height: 71px;
        border: 2px solid #D2D2D2;
        font-family: Lato;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
        color: #D2D2D2;
        padding: 0 46px;
    }

    .helpphone {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .helpphone p {
        font-family: Lato;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;

    }

    .helpphone input {
        border-radius: 20px;
        width: 493px;
        height: 71px;
        border: 2px solid #D2D2D2;
        font-family: Lato;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
        color: #D2D2D2;
        padding: 0 46px;
    }

    .helpsubject {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .helpsubject p {
        font-family: Lato;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
    }

    .helpsubject input {
        border-radius: 20px;
        width: 493px;
        height: 71px;
        border: 2px solid #D2D2D2;
        font-family: Lato;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
        color: #D2D2D2;
        padding: 0 46px;
    }

    .helpmessage {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .helpmessage p {
        margin-top: 20px;
        font-family: Lato;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;

    }

    .helpmessage textarea {
        width: 493px;
        height: 200px;
        border-radius: 20px;
        border: 2px solid #D2D2D2;
        font-family: Lato;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
        color: #D2D2D2;
        padding: 20px 46px;
    }

    .helpsubmit {
        background-color: #A8201A;
    }
}